<div class='container'>
  <p>
    <strong>Title:</strong>
    <%= @category.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @category.description %>
  </p>
</div>

<div class='container'>
  <%= link_to "New Article", new_article_path(), :class => "btn btn-default" %>
</div>

<div class='seperator'></div>

<div class='container'>
  <label>Articles in <%= @category.title %> category</label>
  <% @articles.each do |article| %>
  <%= link_to article.title.capitalize, article_path(article) %>
  <% end %>
</div>

<div class='container'>
  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
