<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stringsandcode</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/topnav' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'shared/footer' %>

</body>
</html>
